{% extends 'layout.html.twig' %}

{% block title %}Hello CmsController!{% endblock %}


{% block content %}

    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-users"></i>&nbsp;Création d'un Métier</h1>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('cms_homepage') }}"><i class="fa fa-home fa-lg"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ path('metier_list') }}">Métiers</a>
                </li>
                <li class="breadcrumb-item">Création d'un métier</li>
            </ul>
        </div>
        <div class="tile">

            {% for flash_type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ flash_type }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {{ form_start(form) }}
            <div class="form-group">
                {{ form_errors(form.Nom) }}
                {{ form_label(form.Nom) }}
                {{ form_widget(form.Nom, {'attr':{'class': 'form-control', 'value': metier.nom}}) }}
            </div>

            <button type="submit" class="btn btn-info">Modifier</button>
            {{ form_end(form) }}
        </div>
    </main>

{% endblock %}