{% extends 'layout.html.twig' %}

{% block title %}Hello CmsController!{% endblock %}


{% block content %}

        <main class="app-content">
            <div class="app-title">
                <div>
                    <h1><i class="fa fa-users"></i>&nbsp;Création d'un employé</h1>
                </div>
                <ul class="app-breadcrumb breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ path('cms_homepage') }}"><i class="fa fa-home fa-lg"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{ path('employe_list') }}">Employés</a>
                    </li>
                    <li class="breadcrumb-item">Création d'un employé</li>
                </ul>
            </div>
            <div class="tile">


                {% for flash_type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ flash_type }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {{ form_start(form) }}
                <section>
                    <h3>Informations générales</h3>
                    <div class="form-group">
                        {{ form_errors(form.Prenom) }}
                        {{ form_label(form.Prenom) }}
                        {{ form_widget(form.Prenom, {'attr':{'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.Nom) }}
                        {{ form_label(form.Nom) }}
                        {{ form_widget(form.Nom, {'attr':{'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.Email) }}
                        {{ form_label(form.Email) }}
                        {{ form_widget(form.Email, {'attr':{'class': 'form-control'}}) }}
                    </div>


                    </section>
                    <hr/>
                    <section>
                        <h3>Production</h3>
                        <div class="form-group">
                            {{ form_errors(form.Metier) }}
                            {{ form_label(form.Metier) }}
                            {{ form_widget(form.Metier, {'attr':{'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.Cout) }}
                            {{ form_label(form.Cout) }}
                            {{ form_widget(form.Cout, {'attr':{'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.Embauche) }}
                            {{ form_label(form.Embauche) }}
                            {{ form_widget(form.Embauche, {'attr':{'class': 'form-control'}}) }}
                        </div>
                    </section>
                    <hr/>
                <button type="submit" class="btn btn-info">Modifier</button>
                {{ form_end(form) }}
            </div>
        </main>

{% endblock %}